*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #f5f5f5;
}

.main_blog{
    width: 1000px;
    min-height: 900px;
    /*padding-bottom: 200px;*/
    background-color: rgb(255,255,255);
    box-shadow: 0 0 .35rem rgba(95, 95, 95, .48);
    margin: 80px auto;
}

p img{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 .35rem rgba(95, 95, 95, .48);
}

.main_blog p , .main_blog li{
    font: 16px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8em;
    color: black;
}

.detail_head{
    position: relative;
    height: 200px;
    /*border: 1px solid red;*/
}

.is_origain{
    position: absolute;
    width: 70px;
    height: 40px;
    top: 40px;
    right: 50px;
    background-color: rgb(79,189,250);
    color: white;
    border-radius: 6px;
    font-family: "Microsoft YaHei", 微软雅黑;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
}

.title{
    position: relative;
    width: 400px;
    text-align: center;
    margin:40px auto;
    top: 40px;
    font-size: 30px;
    font-weight: 800;
}

.items{
    width: 800px;
    height: 60px;
    display: flex;
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", Helvetica, Tahoma, "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    left: 50%;
    margin:90px auto;
}

.item{
    flex: 1;
    height: 50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 300;
}

.classfiy_list{
    position: absolute;
    bottom: 20px;
    width: 600px;
    height: 40px;
    margin-left: 200px;
}

.classfiy_list ul li{
    float: left;
    padding-left: 55px;
}

.blog_content{
    width: 900px;
    /*margin: 12px 0px;*/
    margin-left: 30px;
    font-family: "Microsoft YaHei", 微软雅黑;
}

@media screen and (max-width: 1000px){
    .main_blog{
        width: 98%;
    }

    .detail_head{
        width: 100%;
    }

    .blog_content{
        width: 100%;
        margin-left: 10px;

    }

    #my-content{
        width: 90%;
    }

    .is_origain{
        display: none;
    }

    .items{
        width: 100%;
        display: flex;
        font-size: 13px;
    }

    .item{
        flex: 1;
    }

}